/* Шрифти Roboto
Weight 400,500 700 ,900
Raleway
Weight 700
color 
#212121 -h2
#757575-p
#FFFFFF;-hero
 #2196F3;-button-founds
 */
/* root */
/* функция var() */
/* .item{
flex-basis: calc(100%-var(--indent)
(var(--items)-1)/3;
} */
/*     
.list{
    gap: var(--indent);
} */


:root{

    /* fonts */
--main-fount:'Roboto', sans-serif;
--secondary-fount:'Raleway', sans-serif;
/* text colors */
--main-txt-cl-title:#212121;
--main-txt-cl:#757575; 
--main-txt-cl-b-f:#2196F3;
--main-txt:#FFFFFF;
;
/* bg colors */
--dark-bg-cl-hero:#2F303A;
--dark-bg-cl-fet: #E5E5E5;
--dark-bg-cl-tems:#F5F4FA;
--dark-bg-cl-footer:#2F303A;
--accent-bg-cl:#2196F3;
/* others */
--indent: 30px;
--items: 3; 

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
    /* outline: 2px solid red;
    outline-offset: -2px; */
  }
.body{
font-family: var(--main-fount);
font-style: normal;
margin: 0;
    
}
/* reset styles */
.link{
text-decoration: none;
color:currentColor ;
}
.list{
list-style: none;

}

/* Header section */
/* 
 */
.header{

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-txt-cl-title);
}
.header-container{
    align-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    margin-right: 0;
    border: 1px solid #ECECEC;
    border-top:none;
    border-right: none;
    border-left: none;
}

/* header-nav */
.header-nav{
    display: flex;
    align-items: center;
     
}
.list-nav{
    display: flex;
    align-items: center;
    gap: 50px; 
    padding-left: 0;
    margin-left: 93px;

   
}
.link-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo{
    margin-right: 93px;
}

.logo-color {
color: var(--accent-bg-cl);
 }
.logo, .logo-footer {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
 
}
.logo-header{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em; 
color: var(--accent-bg-cl);
}

.logo-foter{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-txt);

}
.contacts-list{

    display: flex;
    gap: 50px;  
    margin-left:331px;

}


.text{

font-style: normal;
flex-wrap: wrap;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
margin: 0;




color: var(--main-txt-cl);

}
.title{
  
   margin: 0;
    
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--main-txt-cl-title);

}




.list-nav :hover,
.list-nav :focus,
.list-nav :active {

color: var(--accent-bg-cl);
caret-color: var(--accent-bg-cl);
}
.contacts-link,
.contacts-item {
color: var(--main-txt-cl);
}
.contacts-item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-txt-cl);

}
.studio-current {
color: var(--accent-bg-cl);
}
.portfolio-current {
 color: var(--accent-bg-cl);   
}
.contacts-list :hover,
.contacts-list :focus {
color: var(--accent-bg-cl);
}
.contacts-list {
    padding-left: 0;
}

.main{
    margin: 0;
}
/* hero */
.hero{
    
 
    padding-left: 15px;
    padding-right: 15px;
    height: 600px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;

    background-color: var(--dark-bg-cl-hero);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-txt);

}

.title-hero{
    

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-txt);
    margin: 0;
}

.button-hero{
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 1.88;
    display:inline-block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    letter-spacing: 0.06em;


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-bg-cl);
    color: var(--main-txt);
    cursor: pointer;
    text-decoration: none;
}
.btn-hero{
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.section-title{
font-weight:700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-txt-cl-title);
margin-bottom: 10px;
margin-top: 0px;
}
.section-title-item{

font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-txt-cl-title);

}


.section-features{
    /* align-content: flex-start; */
    
    justify-content:space-between;
    height: 800px;
    align-items: center;
    justify-content:start;
    margin: 0;
    background-color: var(--dark-bg-cl-fet);
}
.list-features{
    display: flex;
    gap: 30px;
    padding:94px 0px;
 
    margin: 0;
    margin-top: 0;
    
}
.box-list-features{
    
    /* margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; */
}

/* .section-title{
    display: flex;  
} */
.list-occupation{
    
    display: flex;
    gap: 30px;
    margin-top: 50px;
    padding: 0;
    justify-content: space-between;
}
.box-img-occupation{
   margin-top: 50px;
   margin-bottom: 94px;
} 

/* team */
.section-team{
    /* display: flex; */
    align-items: center;
    justify-content:start;
    align-items:center;
    height:648px;
    
}
.list-team{
    /* justify-content:space-between; */
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    margin: 0;
   padding: 0;
    /* flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); */
    
    
}
.title-team{
  
    margin-bottom: 50px;
    padding:0;
}

.box-team{

}
.team-item{
    margin:0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* flex-basis: calc((100% - 30px * 4) / 5); */
    /* display: flex; */
    flex-wrap: wrap;
    gap: 30px;
  /* gap: var(--indent); */
}
.card-team{
    padding-top: 30px;
    padding-bottom: 10px;
}


.section-title-team{
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl-title);
    }
    
    .text-team{
    font-weight: 400;   
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-txt-cl);
    }
    
    
    .section-team{
        
    letter-spacing: 0.03em;
    color: var(--main-txt-cl-title);
    background-color: var(--dark-bg-cl-tems);
    padding-top: 94px;
    }



    /* footer */
 .footer-item{
    display: block;
    justify-content: flex-start;
    flex-direction:column;

    
     background-color: var(--dark-bg-cl-footer);
 }   
.footer{

    padding: 60px 0px;
    flex-direction:column;
    height: 252px;    
    background-color: var(--dark-bg-cl-footer);
    color: var(--main-txt);
   
}

.address-item{
    display: inline-block;
    margin-top: 20px;
}

 .address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt);
    
 }
 /* portfolio css */
 .header-portfolio{
background-color: var(--dark-bg-cl-fet);
}



/* проблеми- потрібно поправити */
.button-item{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 50px; 

}
.button{
    font-style: normal;     
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--main-txt-cl-title);
    background-color:var(--dark-bg-cl-tems);
}

.button:hover,
.button:focus,
.button:active{

    
    font-style: normal;     
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--main-txt);
    background-color: var(--accent-bg-cl);


}

    
.button-link{
   
color: var(--main-txt-cl-title);
text-decoration: none;


}
.contacts-footer {
    display: flex;
    margin-top: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.current-link{
    color: var(--accent-bg-cl);
}

.section-title-portfolio{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;

    color: var(--main-txt-cl-title);
}
.text-portfolio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:1.9;
    margin: 0;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}
.list-button
{
    display: inline-flex;
   
    gap:8px;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    margin-top: 0;
    margin-bottom: 56px;
    padding-left: 0;
   
    
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-txt);


}
.section-navigation{
    
    padding: 94px 0px;
    
    background-color: var(--main-txt)
}
.portfolio-info{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-left: 24px;
    margin: 0;
}
.portfolio-nav {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto; 
    margin-left: auto;
    padding-left: 0;
}
.list-portfolio {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    /* align-items:center; */
    margin-right: auto; 
    margin-left: auto;
    padding-left: 0;
    
   
}
.list-portfolio:nth-child(4n + 1)
{
    padding-bottom: 30px;
}
.card-portfolio{
    display: inline-block;   
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    /* border-top:none;
    border-right: none;
    border-left: none; */

}
.portfolio-cards{
    background-color: var(--main-txt)
    
}
